<h1>Oldest director</h1>
<dl>
  <dt>
  Name
  </dt>
  <dd><%= @the_director.name %></dd>
  <dt>
  DOB
  </dt>
  <dd><%= @the_director.dob %></dd>
  <dt>
  BIO
  </dt>
  <dd><%= @the_director.bio %></dd>
  <dt>
  Images
  </dt>
  <dd><img src="<%= @the_director.image %>" alt="" width="220"></dd>
  <dt>Created at </dt>
  <dd><%= @the_director.created_at %></dd>
  <dt>Updated at </dt>
  <dd><%= @the_director.updated_at %></dd>
